.profile{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(204, 194, 180);
}
.profileContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userProfilrWrapper{
    display: flex;
    margin: 50px  80px ;
    padding: 50px ;
    background-color: rgb(148, 166, 167);
    border-radius: 30px;
    gap: 200px;
}
.userProfileInformation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userProfileName{
    display: flex;
    gap: 10px;
    font-size: 25px;
}
.userProfileAgeGender{
    display: flex;
    gap: 10px;
    font-size: 18PX;
}
.profileImg{
   width:  250px;
    height: 250px;
    border-radius: 50%;
}