.App{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formWrraper{
  height: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.days:focus option:first-of-type {
  display: none;
}
.month:focus option:first-of-type {
  display: none;
}
.year:focus option:first-of-type {
  display: none;
}